body {
  background-color: #F79459; }
  body .container {
    width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    body .container .slider_wrapper {
      overflow: hidden;
      position: relative;
      top: auto; }
      body .container .slider_wrapper #image_slider {
        position: relative;
        list-style: none;
        overflow: hidden;
        float: left;
        /*Chrom default padding for ul is 40px */
        padding: 0px;
        margin: 0px; }
        body .container .slider_wrapper #image_slider li {
          position: relative;
          float: left; }
      body .container .slider_wrapper .nvgt {
        position: absolute;
        top: 120px;
        height: 50px;
        width: 30px;
        opacity: 0.6; }
        body .container .slider_wrapper .nvgt:hover {
          opacity: 0.9; }

#prev {
  background: #000 url("https://dl.dropboxusercontent.com/u/65639888/image/prev.png") no-repeat center;
  left: 0px; }

#next {
  background: #000 url("https://dl.dropboxusercontent.com/u/65639888/image/next.png") no-repeat center;
  right: 0px; }
