@import 'map';

.coContainer {
	background-color:white;
	width:100%;
}

h1.coTitle {
	text-align:center;
	margin:75px;


}

.fourCosBox {
	width:250px;
	height:250px;
	border:2px solid #C3C8CD;
	background-color:#C3C8CD;
	border-radius:10px;
}

img.companyPics {
	width:100%;
}